<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vote.dao.CommentMapper">

    <select id="findCount" resultType="Int">
        select count(*) from comment where vote_id = #{voteId}
    </select>
</mapper>