<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vote.dao.UserChoiceMapper">
    <insert id="save" parameterType="UserChoice">
        insert into `user_choice` (item_id, user_id, ip_address, address,create_time)
        values (#{itemId},#{userId},#{ipAddress}, #{address}, #{createTime});
    </insert>
</mapper>