<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vote.dao.VoteItemMapper">
    <resultMap id="VoteItemMap" type="VoteItem">
        <id property="value" column="id" />
        <result property="text" column="name" />
        <result property="voteId" column="vote_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <insert id="save" parameterType="VoteItem" useGeneratedKeys="true" keyProperty="id">
        insert into `vote_item` (`name`, vote_id, create_time, update_time)
        values (#{text}, #{voteId}, #{createTime}, #{updateTime});
    </insert>

    <select id="findByVoteId" resultMap="VoteItemMap">
        select * from vote_item where vote_id = #{id}
    </select>
</mapper>